$breakpoints: (
  small: 0,
  medium: 48em,
  large: 64em,
  xlarge: em(1200px),
  xxlarge: em(1600px),
) !default;

$max-width: map-get($breakpoints, large);
$grid-columns: 12;

$column: $max-width / $grid-columns;



$medium-up: min-width map-get($breakpoints, medium);
$large-up: min-width map-get($breakpoints, large);
$xlarge-up: min-width map-get($breakpoints, xlarge);
$xxlarge-up: min-width map-get($breakpoints, xxlarge);
