@mixin base-grid-for-size($size: small, $display: block) {
  @for $i from 1 through $grid-columns {
    .#{$size}-#{$i} {
      @if $display == gutterless {
        width: flex-grid($i, $grid-columns, 0);
        &:last-child {
          width: flex-grid($i, $grid-columns, 0);
        }
        margin-right: inherit;
      } @else {
        @include span-columns($i);
      }
    }
  }

  @if $display != gutterless {
    @for $i from 1 through $grid-columns {
      .#{$size}-shift-#{$i} {
        @include shift($i);
      }
    }
  }
}

@mixin visibility-for-size($size: small) {
  .#{$size}-hidden {
    display: none;
  }

  .#{$size}-visible {
    display: inherit;
  }
}

@mixin typography-color($color) {
  color: $color;

  a {
    color: $color;

    &:active,
    &:focus,
    &:hover {
      color: shade($color, 25%);
    }
  }
}
