$all-headings: h1, h2, h3, h4, h5, h6;

// Typography
$base-font-family: 'Open Sans', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 0.8em;
$base-heading-size: 1.25rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$computed-line-height: 1rem * $base-line-height;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #53aee0;
$orange: #f47a33;
$red: #D41317;

$color-schlaemmbar: rgb(255, 0, 204);
$color-belastbar: rgb(255, 0, 0);
$color-farbig: rgb(90, 230, 0);
$color-sani: rgb(235, 206, 8);
$color-schnellfest: rgb(0, 102, 255);
$color-hoch-belastbar: rgb(0, 0, 0);
$color-bitu: rgb(0, 86, 154);

$color-hover-dark: rgb(0, 0, 0);
$color-hover-light: rgb(255, 255, 255);

$dark-gray: #575757;
$medium-gray: #B2B2B2;
$light-gray: #f1f4f6;

$light-font-color: #fff;
$dark-font-color: $dark-gray;

// Font Colors
$base-background-color: #f1f4f6;
$base-font-color: $dark-font-color;
$action-color: $dark-font-color;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-border-radius: 0;
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


$base-typography: (
  font-color: $base-font-color,
  action-color: $action-color,
  background-color: white,
);

$base-typography-water: (
  font-color: $light-gray,
  action-color: white,
  background-color: $blue,
);

$base-typography-stone: (
  font-color: white,
  action-color: white,
  background-color: $dark-gray,
);
