@import "~bourbon/app/assets/stylesheets/bourbon";
@import "../css/base/_variables.scss";
@import "../css/base/_grid-settings";
@import "~bourbon-neat/app/assets/stylesheets/neat";

.header {
  text-align: center;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  // &:before {
  //   position: absolute;
  //   top: -42px;
  //   left: -101px;
  //   content: " ";
  //   display: block;
  //   background-color: $red;
  //   width: 150px;
  //   height: 200px;
  //   transform: rotate(25deg);
  // }

  h1 {
    display: none;
  }

  .facebook {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 10px;
  }
}

.logo {
  margin-top: 40px;
  width: 180px;

  @include media($medium-up) {
    margin-top: 20px;
    width: 300px;
  }
}

.footer {
  background-color: #575756;
  color: white;
  text-align: center;
  padding: $small-spacing 0;
  // margin-top: $base-spacing;

  a {
    display: inline-block;
    color: white;

    &:after {
      content: "|";
      display: inline-block;
      margin: 0 10px;
    }

    &:last-child {
      &:after {
        content: initial;
      }
    }
  }
}
